{% extends 'base.html' %}

{% block thread_content %}

<div class="row">
  <div class="col-lg-8">
    <h2>{{ tag.name }}</h2>
  </div>
  <div class="col-lg-4"></div>
</div>

<div class="row">
  <div class="col-lg-8">
    {% if thread_list %}
    {% for thread in thread_list %}
    <h2><a href="{{ thread.get_absolute_url }}">{{ thread.name }}</a>: </h2>
    <h6>{{ thread.created_at|date:"Y/m/d H:i:s" }}</h6>
    {% endfor %}
    {% else %}
    no threads
    {% endif %}
  </div>
  <div class="col-lg-4"></div>
</div>


{% endblock %}
